body {
    padding: 0;
    margin: 0;
    background-color: #f2fbea;
    /* //font style// */
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}

/* //header-part-start// */
header {

    background-image: linear-gradient(-180deg, #ebe79b04, #81958d), url(../img/shop-header-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

h1 {
    flex: 10;
    font-size: 50px;
}

/* //nav-start// */
nav {
    display: flex;
    text-align: right;
    flex: 1;
    gap: 30px;
    font-weight: 600;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
}

nav a button {
    padding: 5px 25px;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(35, 188, 188);
    border: none;
}

/* //nav end// */

header h2 {
    margin: 50px;
    font-size: 40px;
    padding-bottom: 100px;
}

.header-top {
    display: flex;
    align-items: center;
    margin: 0 50px;
}

/* Collection part start here */
.collection-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px;
}

.price {
    width: 70px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

.btn-buy button {
    display: none;
}

.collection-parent {
    display: flex;
    gap: 20px;
}

.collection {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(187, 64, 64);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.collection img {
    width: 100%;
    height: 200px;
}

.collection-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 2px solid #23bcbc;
    padding: 20px;
    margin: 20px;
}

.collection:hover .collection-content {
    display: none;
}

.collection:hover .btn-buy button {
    transition: 2s;
    display: inline-block;
    background-color: #000000;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6%;
    color: white;
    margin-top: 100px;
    margin-bottom: 100px;
    cursor: pointer;
}

.collection:hover .btn-buy {
    background-color: #23bcbc;
    height: 100%;
}

/* //footer// */
footer {
    text-align: center;
    color: white;
    background-color: #312b4a;
    padding: 20px;
}

/* //mobile part-start */
@media(max-width:767px) {
    header {
        text-align: center;
    }

    .header-top {
        flex-direction: column;
    }

    .hero-container {
        flex-direction: column;
    }

    .hero-content-container p {
        line-height: 30px;
    }

    .collection-parent {
        flex-direction: column;
    }

    .collection-container {
        margin: 0;
    }
}