body {
    padding: 0;
    margin: 0;
    background-color: #f2fbea;
    /* //font style// */
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    padding-top: 7px;
    margin: 0 50px;
}

h1 {
    flex: 10;
    font-size: 50px;
}

/* //nav-start// */
nav {
    display: flex;
    text-align: right;
    flex: 1;
    gap: 30px;
    font-weight: 600;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
}

nav a button {
    padding: 5px 25px;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(35, 188, 188);
    border: none;
}

/* //nav end// */

/* hero container */
.hero-container {
    display: flex;
    margin: 50px;
    align-items: center;
}

.hero-content-container {
    flex: 10;
    display: flex;
    flex-direction: column;
    line-height: 5px;
}

.hero-content-container h2 {
    margin: 0;
}

.hero-content-container .hero-p-2 {
    margin-top: -2px;
}

.hero-content-container button {
    margin-top: 20px;
    width: 190px;
    padding: 5px 25px;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(35, 188, 188);
    border: none;
    cursor: pointer;
}

/* Collection part start here */
.collection-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px;
}

.collection-container-headline {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 40px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.tag-free {
    width: 70px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

.btn-download {
    cursor: pointer;
    padding: 5px 25px;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(35, 188, 188);
    border: none;
}

.collection-parent {
    display: flex;
    gap: 20px;
}

.collection {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(187, 64, 64);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.collection img {
    width: 100%;
    height: 200px;
}

.collection-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 2px solid #23bcbc;
    padding: 20px;
    margin: 20px;
}

/* //footer// */
footer {
    text-align: center;
    color: white;
    background-color: #312b4a;
    padding: 20px;
}

/* //mobile part-start */
@media(max-width:767px) {
    header {
        flex-direction: column;
    }

    .hero-container {
        flex-direction: column;
    }

    .hero-content-container p {
        line-height: 30px;
    }

    .collection-parent {
        flex-direction: column;
    }

    .hero-img-container img {
        width: 100%;
        margin-top: 50px;
        margin-bottom: -50px;
    }
    .collection-container{
        margin: 0;
    }
}